/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #6E796F;
}

.resume-main {
	background-color: #B0B5AF;
}

.resume-aside {
	background-color: #E5E6E2;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #2C302C;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.cbstudent-text {
	color: #353A35;
	text-align: left;
	font-style: italic;
}

.name-text {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
	color: #2C302C;
}

.headers {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal;
	color: #2C302C;
}

.body-text {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.move-up { 
      margin-top: -7px;
}
